
@{
    ViewBag.Title = "HomeReportes";
    Layout = "~/Views/Shared/_ReportesGenerales.cshtml";

}

<div class="alert alert-info" role="alert">
    <h1>Instrucciones de Uso</h1>
    <p>
        <h2>Reporte Semanal</h2>

        <h3>
            Para obtener información de una semana en particular es necesario que
            indique una fecha que pertenezca a esa semana y el sistema devolverá
            la información de horas trabajadas de todo el personal.
        </h3>
    </p>


    <p>
        <h2>Reporte Personalizado</h2>

        <h3>
            Aquí tiene la capacidad de obtener la información de un rango de fecha.
            Proporcionando dos fechas válidas obtendrá la información precisa entre
            las fechas indicadas.
        </h3>
    </p>
</div>

