@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Portal YoDigital</h1></br>
    <p>Bienvenido al portal de reportes de YoDigital</p>
    <p>
        A traves de este portal se podrá tener acceso a información general con respecto a
        las horas trabajadas de cada trabajador.
    </p>
    <p>
        También está la posibilidad de obtener reportes personales a cada trabajador, para
        aquello autentifiquese en la pestaña Trabajador.
    </p>
</div>